/*
* author: aSmecta
* version:v0.0.3
* Freedom
*/
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen {
    .container{
        width:375px;
    }
    body{
        width: 375px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.navbar{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    background-color: rgba(242, 242, 242, 1);
    height: 30px;
}
body{
    padding-top: 5px;
    min-width: 320px;
    margin: 0;
}
li{
   float: left;
    list-style: none;
    padding-left: 10px;
    width: 30px;
}
.logo{
    width: 40px;
    height: 30px;
}
.push-right{
    float: right;
    vertical-align: middle;
}
.navbar p{
    margin: 0;
}
.container p{
    float: left;
    margin-top: 3px;
}
.search{
    float: right;
    margin-top: 8px;
    background-size: 96px 96px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.default{
    background-position: -24px 0;
}
.sel{
    background-position: -72px 0;
}
.hidden{
    display: none;
}
.media {
    margin-top: 15px
}

.media:first-child {
    margin-top: 0
}
.media,
.media-body {
    overflow: hidden;
    zoom: 1
}
.media-body {
    width: 10000px
}
.media-object {
    display: block
}
.media-object {
    max-width: 70px;
    max-height: 100px;
}
.media-right,
.media>.pull-right {
    padding-left: 10px
}
.media-left,
.media>.pull-left {
    padding-right: 10px
}
.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top
}
.media-middle {
    vertical-align: middle
}
.media-bottom {
    vertical-align: bottom
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px
}
.media-list {
    padding-left: 0;
    list-style: none
}
.media-left{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    overflow: hidden;
    text-align: center;
}
#sBar input{
    margin-left: 5px;
    margin-right: 5px;
    width:100%;
    margin-bottom: 15px;
    border:0;
    border-bottom: 1px solid;
    border-color: #a5a5a5;
}
.summary,.half,.col-md-12{
    overflow: hidden;
    font-size: 12px;
    color: #848689;
    margin-top: 10px;
    height: 50px;
}
.title{
    color: #232326;
    font-size: 15px;
    line-height: 22px;
}
.subtitle{
    font-size: 12px;
    color: #848689;
    margin-top: 0px;
    margin-left: 5px;
}
.author{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #848689;
    margin-top: 0px;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    outline: 0
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top: 5px;
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.btn-default{
    color: #333;
    background-color: #ffffff;
    border-color: #ccc;
    margin: 5px 0;
}
.btn-douban{
    color: #ffffff;
    background-color: #072;
}
.center{
    width:100%;
    border: 0;
    font-size: 10px;
    color: #ccc;
}
.media-summary{
    border-bottom: 1px solid;
    border-color: #ccc;
    padding-bottom: 15px;
}
.media-summary > .summary{
    height: 50px;
    overflow: hidden;
}
.media-summary > h4{
    font-size: 13px;

}
.half{
    width: 50%;
    box-sizing: border-box;
    padding: 0px 10px;
    float: left;
}
.col-md-12{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
    float: left;
}
.half > h5,.col-md-12 > h5{
    margin: 10px 0 5px 0;
    color: #000;
}
a {
    text-decoration: none;
}
#img{
    width: 100%;
    height: auto;
}